<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapepr 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxddongxx.checkinn.accommodation.mapper.AccommodationMapper">
    <insert id="insertAccommodation" useGeneratedKeys="true" keyProperty="idx">
        /* insertAccommodation */
        INSERT INTO tb_accommodation(
            acc_nm
            , acc_post_code
            , acc_full_address
            , acc_phone
            , acc_type
            , chi_available_Time1
            , chi_available_Time2
            , cho_available_Time
            , owner_nm
            , owner_phone
            , acc_agreement1
            , acc_agreement2
            , acc_agreement3
            , manager
            , is_active
        ) VALUES (
            #{accNm}
            , #{accPostCode}
            , #{accFullAddress}
            , #{accPhone}
            , #{accType}
            , #{chiAvailableTile1}
            , #{chiAvailableTime2}
            , #{choAvailableTime}
            , #{ownerNm}
            , #{ownerPhone}
            , #{accAgreement1}
            , #{accAgreement2}
            , #{accAgreement3}
            , #{managerIdx}
            , #{isActive}
            )
    </insert>
    <select id="selectByAccommodation" parameterType="long" resultType="AccommodationDto">
        /* selectByAccommodation */
        SELECT
            ta.*
            , tu.user_id as manager_user_id
            , tu.nm as manager_nm
            , tu.role as manager_role
            , tu.email as manager_email
            , tu.phone as manager_phone
        FROM tb_accommodation ta
        INNER JOIN tb_user tu on tu.user_id = ta.manager_id
        WHERE
            ta.idx = #{value}

    </select>
    <update id="updateAccommodation" parameterType="AccommodationDto">
        /* updateAccommodation */
        UPDATE tb_accommodation
            update_dt = NOW()
            <if test="accNm != null and accNm != ''">
                , acc_nm = #{accNm}
            </if>
            <if test="accPostCode != null and accPostCode != ''">
                , acc_post_code = #{accPostCode}
            </if>
            <if test="accFullAddress != null and accFullAddress != ''">
                , acc_full_address = #{accFullAddress}
            </if>
            <if test="accPhone != null and accPhone != ''">
                , acc_phone = #{accPhone}
            </if>
            <if test="accType != null and accType != ''">
                , acc_type = #{accType}
            </if>
            <if test="chiAvailableTime1 != null and chiAvailableTime1 != ''">
                , chi_available_time1 = #{chiAvailableTime1}
            </if>
            <if test="chiAvailableTime2 != null and chiAvailableTime2 != ''">
                , chi_available_time2 = #{chiAvailableTime2}
            </if>
            <if test="choAvailableTime != null and choAvailableTime != ''">
                , cho_available_time = #{choAvailableTime}
            </if>
            <if test="ownerNm != null and ownerNm != ''">
                , owner_nm = #{ownerNm}
            </if>
            <if test="ownerPhone != null and ownerPhone != ''">
                , owner_phone = #{ownerPhone}
            </if>
            <if test="accAgreement1 != null and accAgreement1 != ''">
                , acc_agreement1 = #{accAgreement1}
            </if>
            <if test="accAgreement2 != null and accAgreement2 != ''">
                , acc_agreement2 = #{accAgreement2}
            </if>
            <if test="accAgreement3 != null and accAgreement3 != ''">
                , acc_agreement3 = #{accAgreement3}
            </if>
            <if test="isActive != null and isActive != ''">
                , is_active = #{isActive}
            </if>
            <if test="managerId != null and managerId != ''">
                , manager_id = #{managerId}
            </if>
        WHERE
            idx = #{idx}
    </update>
    <select id="selectByAllAccommodation" resultType="AccommodationDto">
        /* selectByAllAccommodation */
        SELECT
            ta.*
            , tu.user_id as manager_user_id
            , tu.nm as manager_nm
            , tu.role as manager_role
            , tu.email as manager_email
            , tu.phone as manager_phone
        FROM tb_accommodation ta
        INNER JOIN tb_user tu on tu.user_id = ta.manager_id
        ORDER BY ta.created_at desc
    </select>
</mapper>